.idea/workspace.xml
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065.xml
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/prscsl.qwWbxQ.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/prscsl2.56_F7Q.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/prscsl4.6a_F7Q.meta
.idea/dataSources/7bd0548c-b220-49f6-bd47-e0784c9af065/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/httpRequests/2022-09-12T134527.500.json
.idea/httpRequests/2022-09-12T212435.200.json
.idea/httpRequests/http-client.cookies
.idea/httpRequests/http-requests-log.http
